


body {
    background-image: url('https://i.ytimg.com/vi/5-LyRjHlRgQ/maxresdefault.jpg');
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.link-bar {
    padding-top: 3rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
    display: grid;
    align-content: center;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;
    max-width: 30rem;
}

.github-icon {
    max-height: 5rem;
    border-radius: 50%;
}

.medium-icon {
    max-height: 5rem;
}

.linkedin-icon {
    max-height: 5rem;
}


.top-container{
    background-color: rgba(8, 131, 131, 0.781);
    border: 30px solid rgba(5, 5, 37, 0.767);
    max-width: 80rem;
    height: 30rem;
    max-height: 30rem;
    margin: 0 auto ;
    text-align: center;

}

.avatar {
    border: 5px solid black;
    border-radius: 50%;
    height: 9rem;
    margin-top: 2rem;
}

.about-and-portrait-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 30px solid rgba(5, 5, 37, 0.767);
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.aboutskills-container {
    color: black;
    background-color: rgba(8, 131, 131, 0.781);
    height: 30rem;
    max-height: 30rem;
    border: 5px solid black;
}

.self-portrait {
    color: black;
    background-color: rgba(8, 131, 131, 0.781);
    height: 30rem;
    max-height: 30rem;
    text-align: center;
    border: 5px solid black;

}


.intro-blurb {
    margin: 0 auto;
    max-width: 50rem;
    text-align: center;
}

.about-me-blurb {
    margin: 0 auto;
    max-width: 30rem;
    text-align: center;
}



.projects {
    text-align: center;
    background-color: rgba(8, 131, 131, 0.781);
    border: 30px solid rgba(5, 5, 37, 0.733);
    max-width: 80rem;
    margin: 0 auto;
}

.project-container {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    padding-bottom: 3rem;
    padding-left: 4rem;
}

.project-description {
    text-align: center;
    margin-bottom: 3rem;
}

.project {
    
    color: white;
    text-align: center;
    height: 35rem;
    max-height: 40rem;
    border: 5px solid black;
    max-width: 20rem;
    background-color: rgba(5, 5, 37, 0.767);
}

.skills-container {
    margin: 4rem auto;
    display: grid;
    max-width: 20rem;
    grid-gap: 30px;
    grid-template-columns: 10% 10% 10% 10% 10%;
}

.icon {
    height: 3.5rem;
}

.portrait {
    
    height: 30rem;
    width: 35rem;
}

.project-picture {
    padding-top: 3rem;
    padding-bottom: 2rem;
    height: 10rem;
    width: 15rem;
}