


body {
    background-image: url('https://i.ytimg.com/vi/5-LyRjHlRgQ/maxresdefault.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.top-home-div {
    color: black;
    background-color: teal;
    border: 3px solid black;
    max-width: 100rem;
    height: 30rem;
    max-height: 30rem;
    margin: 0 auto;

}